{{ $assets := .Site.Data.assets }}  

{{ range $assets }}
	{{ range .woff2 }}
<link rel="prefetch" href="{{ . }}">
	{{end }}
{{ end }}

{{ with $assets.main }}
	<link href="{{ with .css | default "/dist/main.css" }}{{ print . }}{{ end }}" rel="stylesheet" {{ with .cssIntegrity }}integrity="{{ print . }}" crossorigin="anonymous"{{ end }}>	
{{ end }}

{{/*  {{ with $assets.algolia }}	
	<script type="text/javascript" src="{{ with .js }}{{ print . }}{{ end }}" {{ with .jsIntegrity }}integrity="{{ print . }}" crossorigin="anonymous"{{ end }} defer></script>
{{ end }}  */}}

{{/*  // fonts from typography.com  */}}
<link rel="stylesheet" type="text/css" href="{{ .Site.Params.fonts_url }}" />

<script type="text/javascript" src="/algolia-m.js"  defer></script>


