<header>
  <div class="max-w-6xl mx-auto py-6 flex flex-wrap items-center justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="site-title"> 
      {{ with .Site.Params.logo }}
        {{ $logo := resources.Get (string .) }}
          <img src="{{$logo.Permalink}}" alt="{{ $.Site.Title }}" width="200">
        {{ else }}            
          {{.Site.Title}}      
      {{ end }}    
      </a>
      <div class="flex flex-wrap items-center justify-between">
        {{- partial "_global/menu.html" (dict "page" . "menu" "main") -}}
        {{ partial "_components/social-follow.html" (dict "cx" . "icon_size" "24px") }} 
      </div>
  </div>
</header>
