<section id="{{ .section.section_id }}" class="block bg-gray-100 py-16 text-center bg-{{ .section.bg }}">
  <div class="max-w-4xl text-xl text-center mx-auto mb-32">
    {{ with .section.title }}        
      <h2 class="block-title">{{ . }}</h2>
    {{ end }}
    {{ if .section.subtitle }}
    <p class="font-brand text-primary-color-600 text-2xl">
      {{ .section.subtitle | safeHTML }}
    </p>
    {{ end }}
  </div><!-- .block-header -->
  {{ if .section.featureslist }}
  <div class="inner max-w-5xl mx-auto">
    {{ range $i, $feature := .section.featureslist }}
    <div class="my-16">
      <div class="flex items-center">
        {{ if $feature.image }}
        <div class="w-full w-3/5 {{ if eq (mod $i 2) 0 }}order-1{{ else }}order-0{{end }}">
          <img src="{{ $feature.image | relURL }}" alt="{{ $feature.title }}" />
        </div><!-- .block-preview -->
        {{ end }}
        <div class="cell bg-gray-30f0">
          <h3 class="text-4xl font-brand">{{ $feature.title }}</h3>
          <div class="block-copy">
            {{ partial "blocks/markdownify-block" $feature.content }}
          </div>
          {{ if $feature.actions }}
            {{ $include_dict := dict "actions" $feature.actions }}
            {{ partial "blocks/cta_buttons.html" $include_dict }}
          {{ end }}
        </div><!-- .block-content -->
      </div><!-- .grid -->
    </div><!-- .block-item -->
    {{ end }}
    </div><!-- .inner -->
  {{ end }}
</section><!-- .block -->
