{{ $section_title := .section.title  }}
<section{{ with .section.section_id }} id="{{ . }}" {{end}}class="block hero-block gradient tbg-primary-color-800 text-center text-gray-100">
  
  <div class="max-w-6xl w-full mx-auto pt-16 pb-32">
    <div class="flex items-center justify-center align-center">

      
      <div class="w-full lg:w-5/6">
        <h2 class="font-brand text-6xl leading-none font-normal">{{ .section.title }}</h2>

        <div class="block-copy text-3xl text-gray-400">
          {{ partial "blocks/markdownify-block" .section.content }}
        </div>

        {{ if .section.actions }}
          <p class="block-buttons mt-16 w-full">
            {{ range $action := .section.actions }}
            <a href="{{ $action.url | relURL }}" class="button bg-gray-200 hover:bg-gray-400 font-bold text-gray-800 rounded py-2 px-2">{{ $action.label }}</a>
            {{ end }}
          </p>
        {{ end }}
      </div>

    </div><!-- .grid -->

  </div><!-- .inner -->

</section><!-- .block -->
